.header {
    background-color: #333;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  .nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
  }
  .nav a:hover{
    text-decoration: underline;
  }